.jumbotron{
  background: url("photos/Header-Background.png");
  background-size: cover;
}
  
  #navbarCollapse{
    height: 20px;
  }

  element.style {
}
#owl-main .caption.text-center {
  padding-left: 10%;
  padding-right: 10%;
}
#owl-main .caption.vertical-center {
  vertical-align: middle;
  padding-bottom: 3vh;
}
#owl-main .caption {
  display: table-cell;
}
.text-center {
  text-align: center;
}
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
user agent stylesheetdiv {
  display: block;
}
Inherited from 
.owl-carousel {
  text-align: center;
  cursor: default;
}
Inherited from 
body {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #283645;
  color: #73879C;
  font-size: 18px;
  line-height: 150%;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  /* -moz-osx-font-smoothing: grayscale; */
  text-rendering: optimizeLegibility;
  overflow-x: hidden !important;
  height: auto !important;
}
body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}
Inherited from 
html {
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
Pseudo ::before element
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
:before, :after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
Pseudo ::after element
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
:before, :after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
Pseudo ::selection element
::selection {
  background: #AAF2E4;
}

.ul{
  text-decoration: none;
}
.flexbox{
  background-color: #2F4052;
  text-decoration: white;
  
}
.footer-bottom{
  background-color: #283645

}
ul li{
  list-style: none;
}
.button{btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;}


  .icon i{
color:#1ABB9C;
height:65px;
width:65px;
  }
